.homeProcedures {
    width: 70%;
    height: 900px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.homeProcedures a {
    text-decoration: none;
}
.procedureHome_info {
    width: 100%;
    height: 100%;
}
.procedureHome_info h1 {
    font-family: 'Oswald';
    font-size: 35px;
    text-transform: uppercase;
    color: #000000;
    line-height: 35px
}
.procedureHome_info p {
    font-family: 'Inter';
    font-size: 19px;
    color: black;
    font-weight: 200;
}
.homeProcedures_row1 {
    width: 100%;
    height: 30%;
    display: flex;
}
.homeProcedures-row1_width30 {
    width: 30%;
    position: relative;
}
.homeProcedures-row1_width35 {
    width: 35%;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
}
.homeProcedures_row2 {
    height: 70%;
    width: 100%;
    display: flex;
}
.homeProcedures-row2_width30 {
    width: 30%;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 26px 4px rgba(0, 0, 0, 0.25);
}
.homeProcedures-row2_width35 {
    width: 35%;
    position: relative;
}
.homeProcedures-row2_height60 {
    height: 60%;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
}
.homeProcedures-row2_height40 {
    height: 40%;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
}
.homeProcedure-card_text {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
}
.homeProcedure-card_text p {
    font-family: 'Inter';
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 200;
}
.homeProcedure-card_text h3 {
    font-family: 'Oswald';
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}
.homeProcedure_button {
    width: 50%;
    height: 50px;
    background-color: white;
    margin: 10px auto;
    border-radius: 20px;
}
.homeProcedure_button a {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.margin_rightBottom {
    margin: 0 20px 20px 0;
}
.margin_bottom {
    margin-bottom: 20px;
}
.margin_right {
    margin-right: 20px;
}

@media screen and (max-width: 1700px) {
    .procedureHome_info p {
        font-size: 18px;
    }
}
@media screen and (max-width: 1600px) {
    .homeProcedures {
        width: 80%;
    }
    .procedureHome_info h1 {
        font-size: 36px;
    }
}
@media screen and (max-width: 1400px) {
    .procedureHome_info h1 {
        font-size: 28px;
        line-height: 30px
    }
}
@media screen and (max-width: 1250px) {
    .homeProcedures {
      width: 90%;
    }
}
@media screen and (max-width: 1100px) {
    .homeProcedures {
      width: 100%;
    }
    .homeProcedures_row1 {
        height: 40%;
    }
    .homeProcedures_row2 {
        height: 60%;
    }
    .procedureHome_info h1 {
        margin-left: 10px;
    }
    .procedureHome_info p {
        margin-left: 10px;
    }
    .procedureHome_info h1 {
        font-size: 38px;
        line-height: 35px
    }
}
@media screen and (max-width: 750px) {
    .homeProcedures {
        height: 700px;
    }
    .homeProcedures_row1 {
        height: 30%;
    }
    .homeProcedures_row2 {
        height: 70%;
    }
    .procedureHome_info h1 {
        font-size: 22px;
        line-height: 20px
    }
    .procedureHome_info p {
        font-size: 14px;
        line-height: 16px
    }
    .margin_rightBottom {
        margin: 0 10px 10px 0;
    }
    .margin_bottom {
        margin-bottom: 10px;
    }
    .margin_right {
        margin-right: 10px;
    }
    .homeProcedures-row2_width30 {
        box-shadow: 0 18px 4px rgba(0, 0, 0, 0.25);
    }
    .homeProcedure-card_text h3 {
        font-size: 20px;
    }
    .homeProcedure-card_text p {
        font-size: 16px;
    }
    .homeProcedure_button {
        width: 60%;
        height: 40px;
    }
    .homeProcedure_button a {
        font-size: 12px;
    }
}
@media screen and (max-width: 700px) {
    .homeProcedures {
        width: 90%;
        height: 3850px;
    }
    .homeProcedures_row1 {
        width: 100%;
    }
    .procedureHome_info h1 {
        font-size: 50px;
        line-height: 50px;
        text-align: center;
    }
    .procedureHome_info p {
        font-size: 25px;
        margin: 20px;
        line-height: 25px;
        text-align: center;
    }
    .homeProcedures-row1_width30 {
        width: 100%;
    }
    .homeProcedures-row1_width35 {
        width: 100%;
    }
    .homeProcedures_row2 {
        width: 100%;
    }
    .homeProcedures-row2_width30 {
        width: 100%;
    }
    .homeProcedures-row2_width35 {
        width: 100%;
    }
    .homeProcedures_row1 {
        display: block;
        width: 100%;
        height: 1250px;
    }
    .homeProcedures_row2 {
        display: block;
        width: 100%;
    }
    .margin_rightBottom {
        margin: 0;
    }
    .margin_bottom {
        margin-bottom: 0;
    }
    .margin_right {
        margin-right: 0;
    }
    .cardMobile {
        margin-top: 20px;
        height: 500px;
    }
    .homeProcedures-row2_width35:nth-child(0n+2) {
        padding-top: 20px;
    }
    .homeProcedure-card_text {
        bottom: 50px;
    }
    .homeProcedure-card_text h3 {
        font-size: 40px;
    }
    .homeProcedure-card_text p {
        font-size: 30px;
    }
    .homeProcedure_button {
        width: 50%;
        height: 80px;
    }
    .homeProcedure_button a {
        font-size: 20px;
    }
}
@media screen and (max-width: 620px) {
    .homeProcedures {
        height: 3900px;
    }
    .homeProcedures_row1 {
        height: 1300px;
    }
}
@media screen and (max-width: 500px) {
    .homeProcedures {
        height: 3350px;
    }
    .homeProcedures_row1 {
        height: 1250px;
    }
    .procedureHome_info h1 {
        font-size: 55px;
        line-height: 60px
    }
    .homeProcedure-card_text h3 {
        font-size: 30px;
    }
    .homeProcedure-card_text p {
        font-size: 25px;
    }
    .cardMobile {
        height: 400px;
    }
    .homeProcedure-card_text {
        bottom: 30px;
    }
    .homeProcedure_button {
        width: 60%;
        height: 80px;
    }
    .homeProcedures_row2 {
        height: 0;
    }
}